body {
    background-color: rgb(103,58,183);
    font-family: 'Open Sans', sans-serif
  }
  
  section {
    -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
  }
  
  div {
    background-color: #B1B7BE;
    border: 15px;
    padding: 15px;
    border-radius: 5px;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    transform: translatey(-90px);
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
    
  }
  
  section, h1 {
    font-size: 20px;
  }
  
  header {
    background-image: url('https://cdn.cinepop.com.br/2021/02/pokemon-list.jpg');
      background-size: cover;
    height: 80px;
    border-radius: 5px;
  }